// Mixins in here
.btn {
  .flex(row nowrap, center, center);
  width: 80%;
  min-width: 48px;
  height: 40px;
  color: white;
  background: teal;
  border-radius: 12px;
  font-size: 2rem;

  &:hover {
    cursor: pointer;
    background: darken(teal, 5%);
  }
}

@mobile: (max-width: 500px);
@media @mobile {
  .btn {
    background: #26a2b5;
    &:hover {
      cursor: pointer;
      background: darken(#26a2b5, 5%);
    }
  }
}
